<div class="col-12 pb-0 pt-0">
    <p-toast></p-toast>
    <div
        class="align-items-center surface-0 flex-grow-1 justify-content-between hidden flex flex-column xl:flex-row xl:align-items-start p-0 gap-4 xl:ml-8 xl:mr-8 xl:pl-8 xl:pr-8">
        <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
            <li>
                <a pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 line-height-3" (click)="loadEventList()" [ngClass]="loadedEventList ? 'font-bold' : 'font-normal'">
                   <span>All Events</span>
                </a>
            </li>
            <li *ngIf="isLoggedIn">
                <a pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 line-height-3" (click)="loadHostingEventList()" [ngClass]="loadedHostEventList ? 'font-bold' : 'font-normal'">
                    <span>Your Events</span>
                </a>
            </li>
            <li *ngIf="isLoggedIn">
                <a pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 line-height-3" (click)="loadAttendingEventList()" [ngClass]="loadedAttendingEventList ? 'font-bold' : 'font-normal'">
                    <span>Attending Events</span>
                </a>
            </li>
        </ul>
        <div
            class="flex justify-content-between lg:block lg:border-top-none surface-border py-0 mt-0" *ngIf="isLoggedIn">
            <button class="p-element p-ripple p-button-rounded border-none ml-5 font-light line-height-2 p-button p-component" style="background-color:gray" (click)="this.redirect('event/create')">
                <span class="p-button-label font-semibold"><span class="pr-2"><i class="pi pi-plus"></i></span>Host an Event</span>
                </button>
        </div>
    </div>
</div><hr>

<p-dataView #dv [value]="eventList">
    <ng-template let-event pTemplate="listItem">
        <div class="col-12">
            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4 xl:ml-8 xl:mr-8 xl:pl-8 xl:pr-8">
                <div
                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                        <div class="flex col-12 p-0">
        
                        <div class="text-2xl font-bold text-900">
                            {{event.title}}
                        </div>
                        
                        <div *ngIf="loadedHostEventList">
                            <button pButton icon="pi pi-pencil" class="p-button-text p-0" (click)="editEvent(event)"></button>
                        </div>
                    </div>
                        <div class="font-semibold text-800">{{event.description}}</div>
                        <div class="flex align-items-center gap-3">
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-map-marker"></i>
                                <span class="font-semibold">{{event.location}}</span>
                                <i class="pi pi-dollar"></i>
                                <span class="font-semibold">{{event.price | number:'1.2-2'}}</span>
                            </span>
                        </div>
                        <div class="flex align-items-center gap-3">
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-clock"></i>
                                <span class="font-bold">{{event.start_date}}</span>to<span class="font-bold">{{event.end_date}}</span>
                            </span>
                        </div>
        
                    </div>
                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                        <div *ngIf="loadedHostEventList && isLoggedIn">
                            <button pButton icon="pi pi-trash" class="p-button-text p-0" (click)="deleteEvent(event)" style="color:red;justify-content:end;"> </button>
                        </div>

                        <span class="text-2xl font-semibold">{{event.attendees}} / {{event.capacity}}</span>
                        
                        <div *ngIf="loadedEventList && isLoggedIn">
                            <button *ngIf="event.attendees < event.capacity" pButton class="align-self-end mt-3 p-button-rounded" (click)="joinEvent(event)"> Join </button>
                            <button *ngIf="event.attendees >= event.capacity" pButton class="align-self-end mt-3 p-button-rounded" disabled> Full </button>
                        </div>

                        <div *ngIf="loadedAttendingEventList  && isLoggedIn">
                            <button pButton class="align-self-end mt-3 p-button-rounded p-button-danger" (click)="quitEvent(event)"> Withdraw </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </ng-template>
</p-dataView>

<p-dialog [(visible)]="showWithdrawEventDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to withdraw from <b>{{selectedEvent.title}}</b> event?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="showDeleteEventDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmQuitEvent()"></button>
    </ng-template>
</p-dialog>

<edit-event [(showEditEventDialog)]="showEditEventDialog" [(selectedEvent)]="selectedEvent"></edit-event>

<p-dialog [(visible)]="showDeleteEventDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete this event, <b>{{selectedEvent?.title}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="showDeleteEventDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteEvent()"></button>
    </ng-template>
</p-dialog>

