<div class="px-4 mx-0 lg:mx-8">
        <div class="col-12 text-center ">
            <h2 class="text-900 font-normal mb-2">Create New Event</h2>
        </div>

    <div class="grid justify-content-center">
        <div class="col-4">
            <div class="col-12 p-1 flex align-items-center">
                <div class="field col-12 p-0">
                    <label for="nickname" class="font-medium text-900 pb-1">Title</label>
                    <input
                            type="text" pinputtext="" placeholder="Title"
                            class="p-inputtext p-component p-element" style="width:100%;" required [(ngModel)]="title">
                </div>
            </div>
            <div class="col-12 p-1 flex align-items-center">
                <div class="field col-12 p-0">
                    <label for="nickname" class="font-medium text-900 pb-1">Description</label>
                    <textarea rows="2" class="p-inputtext p-component p-element" style="width:100%;" placeholder="Description" required [(ngModel)]="description"></textarea>
                </div>
            </div>
            <div class="col-12 p-1 flex align-items-center">
                <div class="field col-12 p-0">
                    <label for="nickname" class="font-medium text-900 pb-1">Location</label>
                    <input
                            type="text" pinputtext="" placeholder="Location"
                            class="p-inputtext p-component p-element" style="width:100%;" required [(ngModel)]="location">
                </div>
            </div>
            <div class="col-12 p-1 flex align-items-center">
                <div class="field col-12 p-0">
                    <label for="nickname" class="font-medium text-900 pb-1">Start Date - End Date</label>
                    <p-calendar selectionMode="range" [readonlyInput]="true" [style]="{'width':'100%'}" placeholder="01/01/1998 - 02/02/2000" [(ngModel)]="startDateEndDate"></p-calendar>
                </div>
            </div>
            <div class="col-12 p-1 flex align-items-center gap-1">
                <div class="field col-6 p-0">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input
                            type="number" pinputtext="" placeholder="Capacity"
                            class="p-inputtext p-component p-element" style="width:100%;"  required [(ngModel)]="capacity">
                    </span>
                </div>
                <div class="field col-6 p-0">
                    <span class="p-input-icon-left">
                        <i class="pi pi-dollar"></i>
                        <input
                            type="number" pinputtext="" placeholder="Price"
                            class="p-inputtext p-component p-element" style="width:100%;"  required [(ngModel)]="price">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="px-4 py-2 mx-0">
    <div class="grid justify-content-center">
        <button pbutton="" pripple="" label="Login" class="p-element p-ripple p-button p-component" (click)="createEventClick()"><span class="p-button-label">Create Event</span><span class="p-ink"></span></button>
        <div class="col-12 text-center">
            <div class="col-12 text-center">
                <a href="#/">Return to Events</a>
            </div>
        </div>
    </div>
    
</div>