<div id="features" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
    <div class="col-12 text-center mt-8 mb-4">
        <h2 class="text-900 font-normal mb-2">Demo CRUD</h2>
        <span class="text-600 text-2xl">Feel free to play around</span>
    </div>
    <div class="grid">
        <div class="col-12">
            <div class="card px-6 py-6">
                <p-toast></p-toast>
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <div class="my-2">
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedMessages()" [disabled]="!selectedMessages || !selectedMessages.length"></button>
                        </div>
                    </ng-template>
                </p-toolbar>
    
                <p-table #dt [value]="allMessages" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedMessages" selectionMode="multiple" [rowHover]="true" dataKey="id">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <h5 class="m-0">Manage Demo Messages</h5>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
                            <th pSortableColumn="message">Message<p-sortIcon field="message"></p-sortIcon></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-message>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="message"></p-tableCheckbox>
                            </td>
                            <td style="width:20%; min-width:10rem;"><span class="p-column-title">ID</span>
                                {{message.id}}
                            </td>
                            <td style="width:80%; min-width:10rem;">
                                <span class="p-column-title">Message</span>
                                {{message.message}}
                            </td>
                            <td>
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editMessage(message)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteMessage(message)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
    
            <p-dialog [(visible)]="messageDialog" [style]="{width: '450px'}" header="Message Details" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                    <div class="field">
                        <label for="message">Message</label>
                        <input type="text" pInputText id="message" [(ngModel)]="message.message" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !message.message}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !message.message">Message is required.</small>
                    </div>
                </ng-template>
    
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveMessage()"></button>
                </ng-template>
            </p-dialog>
    
            <p-dialog [(visible)]="deleteMessageDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="message">Are you sure you want to delete <b>{{message.id}}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteMessageDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
                </ng-template>
            </p-dialog>
    
            <p-dialog [(visible)]="deleteMessagesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span>Are you sure you want to delete selected messages?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteMessagesDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>