<div class="px-4 mx-0 lg:mx-8">
    <div class="grid justify-content-center">
        <div class="col-12 text-center mt-8 mb-4">
            <h2 class="text-900 font-normal mb-2">Register</h2>
            <span class="text-600 text-2xl">Welcome to Bojio!</span>
        </div>

        <div class="col-4"><!--Empty Block--></div>
        <div class="col-4 mt-3 flex align-items-center">
            <div class="col-12 p-0">
                <span class="p-input-icon-left" style="display:block!important;">
                    <i class="pi pi-envelope"></i>
                    <input
                        type="email" pinputtext="" placeholder="Email"
                        class="p-inputtext p-component p-element" style="width:100%;" [(ngModel)]="email" required>
                </span>
            </div>
        </div>
        <div class="col-4"><!--Empty Block--></div>
        <div class="col-4"><!--Empty Block--></div>
        <div class="col-4 mt-3 flex align-items-center">
            <div class="col-12 p-0">
                <span class="p-input-icon-left" style="display:block!important;">
                    <i class="pi pi-user"></i>
                    <input
                        type="text" pinputtext="" placeholder="Username"
                        class="p-inputtext p-component p-element" style="width:100%;" [(ngModel)]="username" required>
                </span>
            </div>
        </div>
        <div class="col-4"><!--Empty Block--></div>
        <div class="col-4 mt-3 flex align-items-center">
            <div class="col-12 p-0">
                <span class="p-input-icon-left" style="display:block!important;">
                    <i class="pi pi-lock"></i>
                    <input
                        type="password" pinputtext="" placeholder="Password"
                        class="p-inputtext p-component p-element" style="width:100%;" [(ngModel)]="password" required>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="px-4 py-4 mx-0">
    <div class="grid justify-content-center">
        <button pbutton="" pripple="" label="Register" class="p-element p-ripple p-button p-component" (click)="registerButton_Click()"><span class="p-button-label">Register</span><span class="p-ink"></span></button>
        <div class="col-12 text-center">
            <a>Already have an account? Click here to Login!</a>
        </div>
    </div>
    
</div>