<div class="px-4 mx-0 lg:mx-8">
    <div class="grid justify-content-center">
        <div class="col-12 text-center mt-8 mb-4">
            <h2 class="text-900 font-normal mb-2">Login</h2>
            <span class="text-600 text-2xl">Login to Bojio!</span>
        </div>

        <div class="col-4"><!--Empty Block--></div>
        <div class="col-4 mt-3 flex align-items-center">
            <div class="col-12 p-0">
                <span class="p-input-icon-left" style="display:block!important;">
                    <i class="pi pi-user"></i>
                    <input
                        type="text" pinputtext="" placeholder="Username"
                        class="p-inputtext p-component p-element" style="width:100%;" [(ngModel)]="username" required>
                </span>
            </div>
        </div>
        <div class="col-4"><!--Empty Block--></div>
        <div class="col-4 mt-3 flex align-items-center">
            <div class="col-12 p-0">
                <span class="p-input-icon-left" style="display:block!important;">
                    <i class="pi pi-lock"></i>
                    <input
                        type="password" pinputtext="" placeholder="Password"
                        class="p-inputtext p-component p-element" style="width:100%;" [(ngModel)]="password" required>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="px-4 py-4 mx-0">
    <div class="grid justify-content-center">
        <button pbutton="" pripple="" label="Login" class="p-element p-ripple p-button p-component"><span class="p-button-label">Login</span><span class="p-ink"></span></button>
        <div class="col-12 text-center">
            <a>New to Bojio? Click here to Register!</a>
        </div>
    </div>
    
</div>